body{
  background-image: url("https://images.unsplash.com/photo-1514351630998-ad9175c7791d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
  background-repeat: no-repeat;
  background-size: cover;
  font-family: fantasy;
  text-align: center;
 
 }
 .jumbotron{
   background-color: transparent;
 }
 .bg-dark {
   background-color: #ffc48e!important;
 }
 main{
   overflow: auto;
   margin-bottom: 100px;
 }
 .navbar-dark .navbar-nav .nav-link {
   color: #ffffff;
 }
 .display-4 {
   font-family: fantasy;
   color: #00000070
 }
 .lead{
   font-family: fantasy;
   color: #00000070
 }
 img{
   height: 300px;
 }
 .card{
   height: 450px;
 }
 .main-card, .card-text{
   text-align: center;
 }     
 .main-card:hover{
   background-size: cover;
   background-image: url("https://images.unsplash.com/photo-1514351630998-ad9175c7791d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"); 
   background-repeat: no-repeat;
   border-radius: 10px;
   border: 5px solid #ffc48e;
 }
 .card-text{
   display: grid;
 }
 input{
   text-align: center;
   border: solid 2px #00bcd4
 }
 .questions{
   background-size: cover;
   background-image: url("https://images.unsplash.com/photo-1514351630998-ad9175c7791d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
   background-repeat: no-repeat;
   border-radius: 10px;
   border: 5px solid #ffc48e;
   z-index: 1;
   height: 450px;
   position: absolute;
 }
 .hidden{
   visibility: hidden;
 }       
 .subBtn{
   border: solid 2px #00bcd4;
   margin-top: 15px;
   color: white !important;
   
 }
 .subBtn:hover{
   background-color:#00bcd4;
   margin-top: 15px;
   color: white  !important;
 }
 
 .offset-md-3 {
   margin-top: 90px;
 }
 .offset-md-2{
   color: white;
 }
 
 /* indexMeditation.html */
 .float-right{
   margin-right: 20px;
   width: 185px;
 }
 
 #meditationUL {
   margin-bottom: 15px;
 }
 
 .grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px;
}
 .tab{
   background-color: #ffb873;
 }
 .tab:hover{
   background-color: #ff8d40;
 }
 .meditation-name{
   color: #85f1ff;
 }
 .card-img-top{
   height: 100%;
 }